@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background-color: black;
}

.header{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    font-size: 100px;
    color:#e223a0;

}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 85px;
    display: inline-block;
}
.image{
    height: 12%;
    width: 12%;
    min-width: 60px;
    display: inline-block;
    vertical-align: middle; 
}

.navBar{
    text-align: center;
    padding-bottom: 40px;
}

.welcome_tag {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.button {
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}

.btnRec {
    background-color : #666666;
}
.btnRate {
    background-color: #666666;
}

.container{
    text-align: center;
}

.main{
    margin: auto;
    min-height: 450px;
    width: 80%;
    background-color: #262626;
}

.list_image{
    height: 40px;
}
.list_text{
    font-family: 'Montserrat', sans-serif;
    padding-left: 8px;
}

.ratings_information{
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: red;
}

.temp_message {
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #4CAF50;
}